{% extends 'library/base.html' %}
{% load static %}
{% block content %}
<div class="flex-container gray-bg" style="min-height: 260px;">
    <main class="d-flex flex-column align-items-center container text-center">
        <h2 class="mb-4">
            <div class="d-flex align-items-center navbar-brand">
                <img class="me-2" height="62" src="{% static 'library/images/logo_dark.svg' %}" alt="image of logo">
                Tech<span class="fw-bold">Blog</span>
            </div>
        </h2>
        <h2 class="text-center mb-2 pb-4 border-bottom">You are now logged out</h2>
        <div class="">
            <small class="">
                <a class="ml-2 fw-semibold" href="{% url 'login' %}">Login</a>
            </small>
        </div>
    </main>
</div>
{% endblock content %}
