:root {
    --primary: #583ccc;
    --black: #212529;
    --light-gray: #f9fafb;
    --link: #a10a41;
}

/* -------------------------- */
/* image sizing ...because AWS doesn't suport local image resizing */
/* -------------------------- */
.avatar-img-nav {
    object-fit: cover;
    height: 44px;
    width: 44px;
}

.avatar-img-profile {
    object-fit: cover;
    height: 160px;
    width: 160px;
}

.avatar-img-post {
    object-fit: cover;
    height: 74px;
    width: 74px;
}

.avatar-img-comment {
    object-fit: cover;
    height: 58px;
    width: 58px;
}


/* -------------------------- */
/* the post colors */
/* -------------------------- */
article .post-title-color {
    color: var(--secondary);
}

article .post-title-color:hover {
    color: var(--link);
}

article .post-link-color {
    color: var(--link);
}

article .post-link-color:hover {
    color: var(--link-hover);
}

/* for muted text */
.text-soften {
    color: #495f72;
}

/* -------------------------- */
/* quill editor css setting */
/* -------------------------- */
.ql-editor {
    min-height: 200px;
}

.ql-formats svg {
    opacity: .8;
}

.ql-picker-label {
    color: #5c5c5c;
}

.ql-toolbar {
    border: 1px solid #ced4da !important;
    border-radius: 0.4em 0.4em 0 0;
}

.ql-container {
    font-size: 2rem;
    border: 1px solid #ced4da !important;
    border-radius: 0 0 6px 6px;
    border-top: 0 !important;
}

.ql-container:nth-child(n) {
    font-size: 1rem;
}

/* quill pre element */
pre {
    color: var(--light-gray);
    border-radius: 3px;
    background-color: var(--black);
    padding: .8rem;
}

/* code color in pre */
.hljs-keyword {
    color: #ff723a !important;
}

.hljs-string {
    color: #76b850 !important;
}


code {
    color: var(--primary);
    background-color: #f0f0f0;
    border: 1px solid #b4b4b4 !important;
    border-radius: 2px;
    margin: 0 2px 0 2px;

}

code a {
    color: var(--primary);
}

blockquote {
    background-color: rgb(241, 237, 237);
    margin: 0 1rem !important;
    padding: 0 .6rem 0 1rem !important;
    border-left: 8px solid rgb(125, 91, 170) !important;
    word-wrap: break-word;
}

.ql-editor img,
article img {
    border-radius: 3px;
    max-width: 100%;
    margin: .2rem;
}

/* -------------------------- */
/* work-around to fix the z-index  ...of success message going under the profile image in the profile page*/
/* -------------------------- */
.messages-container {
    z-index: 100;
}

.profile-pic-container {
    z-index: -1;

}

/* -------------------------- */
/* limit width of forms */
/* -------------------------- */
/* to limit the for width for login register page.... */
.edit-profile-max-width {
    max-width: 660px
}

.form-max-width {
    max-width: 560px
}

.register-form-h {
    min-height: 910px;
}

.login-form-h,
.edit-profile-form-h {
    min-height: 530px;
}

.post-form-h,
.comment-form-h {
    min-height: 560px;
}

.footer {
    height: 100px;
}

.footer-content {
    height: 100% !important;
}

footer .name-color {
    color: var(--name);
}

footer p {
    /* padding: 0; */
    margin-bottom: 0;
}


@media only screen and (min-width: 768px) {

    .avatar-img-profile {
        object-fit: cover;
        height: 200px;
        width: 200px;
    }
}

@media only screen and (min-width: 992px) {

    ql-editor img,
    article img {
        max-width: 860px;
    }
}