:root {
    --black: #212529;
    --light-gray: #f9fafb;
}

p img {
    max-width: 100%;
    border-radius: 3px;
}

th,
td {
    border: 1px #bebebe solid !important;
    padding: 2px 4px !important;
}

.table {
    width: 32px;
}

.editor-toolbar button {
    color: #566573 !important;
}

pre {
    color: var(--light-gray);
    border-radius: 3px;
    background-color: #353535;
    padding: .8rem;
}


.post-body img {
    max-width: 100%;
}