:root {
    --black: #212529;
}

pre {
    color: var(--black) !important;
    padding: 4px !important;
}

p img {
    max-width: 100%;
    border-radius: 3px;
}

th,
td {
    border: 1px #bebebe solid !important;
    padding: 2px 4px !important;
}

.table {
    width: 32px;
}

.editor-toolbar button {
    color: #566573 !important;
}


code {
    color: var(--black) !important;
}