:root {
    --black: #212529;
}

pre {
    color: var(--black) !important;
    padding: 4px !important;
}

p img {
    max-width: 100%;
    border-radius: 3px;
    /* border: 2px red solid; */
    /* padding: 1rem; */
}

th,
td {
    border: 1px #bebebe solid !important;
    padding: 2px 4px !important;
}


code {
    color: var(--black) !important;
}

/* code a {
    color: #77afe4;
}
code a:hover {
    color: #5a8dbd;
} */