{% extends 'library/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="flex-container px-3" style="min-height: 540px;">
    <div class="container form-container col-md-6 col-lg-4" style="max-width: 560px;">
        <h2 class="fw-normal mb-4 text-center">
            <svg width="32" height="32" fill="currentColor" class="bi bi-bookmarks" viewbox="0 0 16 16">
                <path
                    d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1H4z" />
                <path
                    d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1z" />
            </svg>
            Scroll
        </h2>
        <form class="" action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group my-4">
                <legend class="pb-3">Please sign in</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="d-grid my-2">
                <button class="btn btn-primary mb-4" type="submit">Sign in</button>
            </div>
        </form>


        <!-- <div class="form-row">
                <div class="form-group">
                    {{ form.username|as_crispy_field }}
                </div>
            </div> -->




        <div class="border-top pt-2">
            <small class="text-muted">Need an account?
                <a class="ml-2" href="{% url 'register' %}">Register</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}
