{% extends 'library/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="flex-container gray-bg px-3 py-5 pb-3" style="min-height: 860px;">
    <main class="container form-container col-md-6 col-lg-4" style="max-width: 560px;">
        <h3 class="mb-4 d-flex align-items-center" href="">
            <img class="me-2" height="48" src="{% static 'library/images/logo_dark.svg' %}" alt="image of logo">
            Tech<span class="fw-bold">Blog</span>
        </h3>
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="pb-3">Create your account</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="d-grid mt-3">
                <button class="btn btn-primary mb-4 fw-semibold" type="submit">Create account</button>
            </div>
        </form>


        <div class="border-top mt-2 pt-2">
            <small class="text-muted">Already have an account?
                <a class="ml-2 fw-semibold" href="{% url 'login' %}">Sign in</a>
            </small>
        </div>
    </main>
</div>
{% endblock content %}
