<!-- Create the editor container -->
<div id="editor">
    <h3><span style="color: #909090;">...You can test it out here</span></h3>
    <p><br></p>
    <h2><span style="color: rgb(153, 51, 255);">Hello World!</span></h2>
    <p>Some initial <strong>bold</strong> text</p>
    <p><br></p>
</div>

<script>
    var toolbarOptions = [
        [{ 'header': [] }, 'bold', 'italic', 'underline', 'strike', { 'list': 'ordered' }, { 'list': 'bullet' },
            'blockquote', 'code-block',
        { 'color': [] },
        { 'background': [] }],
        ['image', 'link'],
        ['clean'],
    ]
    var quill = new Quill('#editor', {
        modules: {
            toolbar: toolbarOptions
        },
        theme: 'snow'
    });
</script>
