{% extends 'techblog_app/base.html' %}
{% load static %}

{% block content %}
<!-- <div class="container"> -->

<div class="container my-5">

    <h2 class="mb-4">
        <div class="d-flex align-items-center navbar-brand">
            <img class="me-2" height="62" src="{% static 'techblog_app/images/logo_dark.svg' %}" alt="image of logo">
            Tech<span class="fw-bold">Blog</span>
        </div>
    </h2>
    <h3>403</h3>
    <p>Access denied</p>
    <p class="text-muted fst-italic">403 Forbidden response status code indicates that the server understands
        the
        request but refuses to authorize it.</p>
</div>
<!-- </div> -->
{% endblock content %}
