{% extends 'techblog_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="post-form-h py-5 px-3">
    <div class="container form-container col-md-10 col-lg-8">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="pb-3 text-capitalize">Update Blog Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="d-grid mt-3">
                <button class="btn btn-primary d-block text mb-4 col-12 col-md-6 col-lg-4" type="submit">Update</button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}
