{% extends 'techblog_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="px-3" style="min-height: 540px;">
    <main class="container form-container col-md-8 col-lg-6">
        <section class="p-3">
            <img class="avatar-img-profile rounded-circle m-4 mx-auto d-block" src="{{ user.profile.image.url }}"
                alt="profile image" srcset="">
            <h1 class="text-capitalize text-center mb-2">
                {{ user.username  }}
            </h1>
            <p class="text-center">{{ user.email }}</p>

        </section>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="pb-3">Profile Info</legend>

                {{ user_form|crispy }}
                {{ profile_form|crispy }}

            </fieldset>
            <div class="d-grid gap-2 mt-2 col-12 col-md-6 col-lg-4">
                <button class="btn btn-primary d-block d-md-inline mb-4" type="submit">Update</button>
            </div>
        </form>
    </main>
</div>
{% endblock content %}
